# Visual Studio
.vs/
Project/.vs/
Project/*.sln
Project/*.slnx
Project/**/*.vcxproj
Project/**/*.vcxproj.filters
Project/**/*.vcxproj.user
Project/**/*.vcxproj.nuget.*
Project/**/*.props
Project/**/*.targets

# Build output
Generated/
Project/Library/
Project/Log/

# Local machine settings
Premake/local_settings.lua
Premake/local_settings.bat

# Premake
Premake/premake_error.log